<head>
  <meta charset="utf-8">
　<title>体重グラフ</title>
</head>
<body>
  <h1>体重グラフ</h1>
  <canvas id="myLineChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</body>

</html>
