<!--<h1>sample</h1>-->

<!--<canvas id="myChart" width="400" height="400"></canvas>-->
<!--<script>draw_graph();</script>-->

<!--<!DOCTYPE html>-->
<!--<html lang="ja">-->

<head>
  <meta charset="utf-8">
　<title>体重グラフ</title>
</head>
<body>
  <h1>体重グラフ</h1>
  <canvas id="myLineChart"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
  var ctx = document.getElementById("myLineChart");
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['8月1日', '8月2日', '8月3日', '8月4日', '8月5日', '8月6日', '8月7日'],
      datasets: [
        {
          label: '目標体重（kg）',
          data: [45, 45, 45, 45, 45, 45, 45, 45],
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
        {
          label: '記録体重（kg）',
          data: [55, 53, 54, 52, 51, 50, 49, 48],
          borderColor: "rgba(0,0,255,1)",
          backgroundColor: "rgba(0,0,0,0)"
        }
      ],
    },
    options: {
      title: {
        display: true,
        text: ''
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 60,
            suggestedMin: 20,
            stepSize: 10,
            callback: function(value, index, values){
              return  value +  'kg'
            }
          }
        }]
      },
    }
  });
  </script>
</body>

</html>
