<div class = "center">
<br>
<br>
<p>「SCRUM（スクラム）」は、ダイエットを頑張る方々を
応援するツールです。</p>

<p>ダイエットの挫折理由は様々ですが、</p>
<p>続かない・誘惑に勝てない・飽きてしまう・変化がない・・・・など、</p>
<p>１人で戦う孤独から諦めてしまうことも多いのではないでしょうか。</p>

<p>同じ境遇のみんなで肩を組んで、</p>
<p>それぞれの目標に向かって頑張ってみませんか？</p>
</div>

<div class="parent">
  <%= image_tag 'nikki.jpg', class:"aboutimage_one" %>
  <div class="inner">
    <h3>POINT①</h3>
    <p>日記機能で自分の体重や毎日の生活を記録。</p>
    <p>お気に入りのチームを見つけて励まし合いましょう。</p>
    <p>マイページから、新しくチームを作り</p>
    <p>キャプテンとなることもできます。</p>
  </div>
</div>
<br>
<div class="parent">
  <%= image_tag 'talk.jpg', class:"aboutimage_two" %>
  <div class="inner">
    <h3>POINT②</h3>
    <p>コメントではなく「エール」</p>
    <p>いいねではなく「すごいね」機能。</p>
    <p>チームに参加し、毎日投稿して行動するあなたは</p>
    <p>「スゴイ」のです！自己肯定感を高めましょう。</p>
  </div>
</div>
