<div class = "main">「SCRUM（スクラム）」は、ダイエットを頑張る方々を
応援するツールです。

ダイエットの挫折理由は様々ですが、
続かない・誘惑に勝てない・飽きてしまう・変化がない・・・・など、
１人で戦う孤独から諦めてしまうことも多いのではないでしょうか。

同じ境遇のみんなで肩を組んで、
それぞれの目標に向かって頑張ってみませんか？
</div>
<table>
POINT①
自分の記録を確認できるのは、
「自分だけ」か、「チームメンバー」のみです。
お気に入りのチームを見つけて励まし合いましょう。
</table>
<table>
POINT②
コメントではなく「エール」
いいねではなく「スゴイネ」機能。
チームに参加し、毎日投稿して行動するあなたは
「スゴイ」のです！自己肯定感を高めましょう。
</table>
