<div class="col-md-6">
 <div class="example">
  <br>
  <br>
  <p>
    ようこそ、<strong cla>「SCRUM（スクラム）」</strong>へ！<br>

    「SCRUM（スクラム）」は、ダイエットを頑張る方々を 応援するツールです。 <br>
    ダイエットの挫折理由は様々ですが、 <br>
    続かない・誘惑に勝てない・飽きてしまう・変化がない・・・・など、<br>
    １人で戦う孤独から諦めてしまうことも多いのではないでしょうか。<br>
    同じ境遇のみんなで肩を組んで、 それぞれの目標に向かって頑張ってみませんか？<br>
  </p>
  <p>
  <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
  </p>
  <p>
   <%= link_to 'さっそく会員登録をする', new_user_registration_path, class: "link" %>
  </p>

 </div>
</div>

<div class="col-md-6">

</div>
