<div class="col-md-12">
 <div class="example">
  <br>
  <br>

<div class = "center">

<h2>ようこそ、<strong cla>「SCRUM（スクラム）」</strong>へ！</h2>
<br>
<br>
<p>「SCRUM（スクラム）」は、ダイエットを頑張る方々を
応援するツールです。</p>

<p>ダイエットの挫折理由は様々ですが、</p>
<p>続かない・誘惑に勝てない・飽きてしまう・変化がない・・・・など、</p>
<p>１人で戦う孤独から諦めてしまうことも多いのではないでしょうか。</p>

<p>同じ境遇のみんなで肩を組んで、</p>
<p>それぞれの目標に向かって頑張ってみませんか？</p>
<br>
<br>
  <!--<p>-->
  <!-- %= link_to 'ゲストログイン（閲覧用）', guest_sign_in_path, method: :post, class: 'btn btn-border-shadow' %>-->
  <!--</p>-->
  <p>
   <%= link_to 'さっそく会員登録をする', new_user_registration_path, class: 'btn btn-border-shadow' %>
  </p>
  </div>
 </div>
</div>